@charset "UTF-8";


/*typical device breakpoints

----------------------------

PEQUENAS TELAS ATÉ 600PX
CELULAR DE 600PX ATÉ 768PX 
TABLET 768PX ATÉ 992PX
DESKTOP 992PX ATÉ 1200PX
GRANDES TELAS ACIMA DE 1200PX 
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 80vw;
                 
    }

    section#login > div#imagem {
        background: url(../imagens/tablet2.png) no-repeat;
        float: left ;
        width: 47%;
        height: 100%;
        background-size: cover;
        border-radius: 0px;
        
    } 

    section#logim > div#formulario {
        float: right;
        width: 100%;
        

    }
}

@media screen and (min-width:992px) {
    section#login {
        width: 992px;

                 
    }

    section#login > div#imagem {
        background: url(../imagens/tv.png);
        
    }

    
}