@charset "UTF-8";


/*typical device breakpoints

----------------------------

PEQUENAS TELAS ATÉ 600PX
CELULAR DE 600PX ATÉ 768PX 
TABLET 768PX ATÉ 992PX
DESKTOP 992PX ATÉ 1200PX
GRANDES TELAS ACIMA DE 1200PX 
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    section#login {
        width: 90vw;
        float: right;
               
    }
    section#login > div#formulario {
        padding-bottom: 100%;

    }

    section#login > div#formulario > p{
        padding-left: 10px;
        text-align: center;
        margin-left: 50px;

    }
    
    section#login > div#imagem >img#icelular {

        float: left;
        height: 700px;
        display: none;
        

    }

    section#login > div#imagem >img#itablet{
        float: left;
        height: 700px;
        background-size: cover;
    }
}