@charset "UTF";

/*
PALETA DE CORES

#D7D7D9
#133340
#18778C
#5BCCD9
#A66B56 
*/


    

*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 20px;

}
:root{
    --cor1:#D7D7D9;
    --cor2:#133340;
    --cor3:#18778C;
    --cor4:#5BCCD9;
    --cor5:#A66B56;
}
body{
    background-image: linear-gradient(to top, #5BCCD9 ,#18778C, #133340, #D7D7D9 ) ;
}


body, html {
    background-color: #133340;
    height: 100vh;
    width: 100vw;

}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    background-color: #D7D7D9;
    width: 350px;
    height: 700px;
    border-radius: 20px;

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: url(../imagens/celular.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: block;
    border-radius: 10px;
    box-shadow: 3px 1px 3px black;
    
    
}


section#login > div#formulario {
    display: block;
    text-align: center;
    padding-top: 10px;
    box-shadow: 1px 2px 3px #133340;
    border-radius: 10px;
    
}

section#login > div#formulario > h1{
    padding-bottom:10px ;
    text-align: center;
    
}

section#login > div#formulario > p{
font-size: 0,8em;

}


form#form1 > div#login1 {
    font-weight: bolder;
    text-align: center;
    font-size: 25px;
    

}


 form#form1 > div#senha1 {
    padding-top: 20px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 150px;
    font-size: 25px;
    
}

form#form1 >  input#enviar1{
    background-color: #18778C;
    padding: 5px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 700%);
    color: #D7D7D9;
    font-size: 20px;
    box-shadow: 3px 3px 5px rgb(255, 255, 255);
    width: 225px;

}

form#form1 >  input#enviar1:hover{
    background-color: #133340;
}

section#login > div#formulario h1{
    font-size: 40px;
    text-shadow: 1px 2px 2px #133340;
    color:#5ab5da;
    
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
